*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.preloader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  position: fixed;
  background-color: lightgray;
}

.oculto{
  animation: esconder 3s forwards;
}

@keyframes esconder {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.navbar{
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: all .8s;
}

.observed{
  background-color: black;
  transition: all .8s;
  z-index: 10000 !important;
}

.logo{
  padding: 10px 25px;
  font-weight: 400;
  letter-spacing: 8.5px;
  color: #fff;
}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 5px;
  padding: 8px 25px;
  background-color: transparent;
  border-radius: 25px;
  color: whitesmoke;
  transition: background-color .7s;
}

.navbar ul li a:hover{
  background-color: #000;
  color: #fff;
  transition: background-color .7s;
}

.navbar > span{
  display: none;
}

.hero-container{
  padding-top: 75px;
  background-image: url(./images/arindam-mahanta-VEOk8qUl9DU-unsplash.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.categorias{
  display: none;
}

li a:hover{
  color: #222;
  background-color: white;
}

.subtitle{
  text-align: center;
  color: whitesmoke;
  letter-spacing: 2.8px;
  font-weight: 400;
  margin-bottom: 25px;
}

.cartas{
  margin: 35px auto;
  max-width: 1400px;
}

.carta > p{
  text-align: center;
}

p{
  color: whitesmoke;
}

.read-more{
  display: none;
}

.Hola{
  display: block;
}


.carta p .read-more-two{
  color: blue;
  cursor: pointer;
}

footer{
  height: 35vh;
  background-color: black;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container p{
  color: white;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.form{
  background-color: transparent;
  height: 100px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 12px;
  outline: none;
  border: none;
  height: 25px;
  margin: 10px;
  padding: 10px 15px;
}

.form button{
  display: block;
  margin: 0 auto;
  width: 35%;
  border-radius: 15px;
  color: white;
  background-color: black;
  border: none;
}

.iframe{
  background-color: transparent;
  height: 200px;
  width: 200px;
}

.social{
  background-color: transparent;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-container p{
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.social .social-icons{
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 25px;
}

/* Agrega clase "active" a elemento (Intersection Observer) */

.active{
  opacity: 1.0;
  transition: opacity 3s;
}

