*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: whitesmoke;
}

.preloader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  position: fixed;
  background-color: lightgray;
}

.oculto{
  animation: esconder 3s forwards;
}

@keyframes esconder {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: transparent;
  position: fixed;
  width: 100%;
}

.logo{
  padding: 10px 25px;
  font-weight: 400;
  letter-spacing: 8.5px;
  color: #fff;
}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 5px;
  padding: 8px 25px;
  background-color: transparent;
  border-radius: 25px;
  color: whitesmoke;
  transition: background-color .7s;
}

.navbar ul li a:hover{
  background-color: #000;
  color: #fff;
  transition: background-color .7s;
}

.navbar > span{
  display: none;
}

.hero-container{
  padding-top: 75px;
  background-image: url(./images/hero.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  letter-spacing: 4px;
  font-size: 1.2rem;
  font-weight: 400;
  height: 4vh;
}

.categorias{
  max-width: 1400px;
  /* 100vh - 75px margen */
  height: calc(26vh - 75px); 
  max-width: 85%;
  text-align: center;
  margin: 25px auto;
}

#button-container{
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 0px;
  list-style: none;
}

#button-container a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid grey;
  text-decoration: none;
  color: #000;
  letter-spacing: 4px;
}

#button-container a:hover{
  background-color: grey;
  color: white;
  transform: translateY(-4px);
  transition: background-color .5s, color .5s, transform .3s
}

#button-container a:active{
  opacity: .9;
}

.carta-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.cartita{
  width: 650px;
  height: 200px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgba(150,139,139,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(150,139,139,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(150,139,139,0.75);
  transition: all .5s;
}

.cartita p{
  text-align: center;
  letter-spacing: 2px;
}

.cartita:hover{
  transform: scale(1.03);
  transition: all .5s;
}

.nombre{
  font-weight: bold;
}

.epoca{
  font-style: italic;
}

.carta-container img{
  width: 130px;
  object-fit: cover;
  object-position: center;
  margin-left: 15px;
  border-radius: 5px;
}

footer{
  height: 25vh;
  background-color: black;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container p{
  color: white;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.form{
  background-color: transparent;
  height: 100px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 12px;
  outline: none;
  border: none;
  height: 25px;
  margin: 10px;
  padding: 10px 15px;
}

.form button{
  display: block;
  margin: 0 auto;
  width: 35%;
  border-radius: 15px;
  color: white;
  background-color: black;
  border: none;
}

.iframe{
  background-color: transparent;
  height: 200px;
  width: 200px;
}

.social{
  background-color: transparent;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-container p{
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.social .social-icons{
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 25px;
}

/* Agrega clase "active" a elemento (Intersection Observer) */

.active{
  opacity: 1.0;
  transition: opacity 3s;
}

/* Media Query 1200px */

@media (max-width: 1200px){
  .navbar{
    flex-direction: column;
  }
  .navbar ul{
    margin-top: 5px;
  }
  .categorias{
    height: auto;
  }
  .categorias #prueba{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  #button-container a{
    margin: 15px auto;
    height: 50px;
  }
  footer{
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: auto;
  }
  footer .form-container{
    margin-top: 50px;
  }
  footer .iframe{
    margin-bottom: 20px;
  }
  
}

/* Media Query 650px */

@media (max-width: 650px){
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
  }
  .navbar > span{
    display: flex;
    z-index: 1000;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  .navbar ul{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 100vh;
    background-color: transparent;
  }
  .categorias{
    height: auto;
  }
  .categorias #prueba{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #button-container a{
    margin: 15px auto;
    height: 50px;
  }
  .cartas div{
    width: 550px;
  }
  footer{
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: auto;
  }
  footer .form-container{
    margin-top: 50px;
  }
  footer .iframe{
    margin-bottom: 20px;
  }
  
}
